<h1 class="text-center mb-5">Students Directory</h1>

<div class="wrapper">
  <div class="card-box">
  <% @students.each do |student| %>
    <div class="box">
      <div>
        <h3><%= student.name %></h3>
        <hr>
        <h6>Email: <%= student.email %></h6>
        <h6>Student Course(s):</h6><p> <% if student.courses.empty? %>
        None
        <% else %>
        <ul>
            <% student.courses.each do |course| %>
              <li><%= course.title %></li>
            <% end %>
        </ul>
        <% end %>
        </p>
      </div>
      <div>
        <hr>
        <%= link_to 'View Profile', student_path(student), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
