// sitcky footer styling
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eee;

}

.Site-content {
  flex: 1;
}


.nav-custom {
  background-color: #198754;
  color: #fff !important;
  margin-bottom: 3rem;
}

.nav-a-logo-custom {
  color: #fff !important;
  font-weight: bold;

  &:hover {
    color: #222 !important ;
  }
}

.nav-a-custom {
  color: #fff !important;

  &:hover {
    color: #222 !important ;
  }
}
ul {
  list-style-type: none;
  padding: 0;
}

.added-style {
  border: 2px solid #fff;
  border-radius: 10px;
  display: inline-block;
  padding: 12px 16px;

  &:hover {
    background-color: #fff;
  }
}

.custom-button {
  color: #fff;
  border: 2px solid #fff;

  &:hover {
    background-color: #fff;
    color: #222;
  }
}

.custom-btn {
  text-transform: uppercase;
  border: 2px solid #198754;
  background-color: #198754;
  padding: 13px 15px;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;

  &:hover {
    background-color: #ffff;
    color: #198754;
  }
  
}

.sign-up-login-custom {
  display: inline-flex;

  li {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}