* {
  box-sizing: border-box;
}

.footer {
  background-color: #666;
  color: #fff;

  &_contact {


    .ul {
      list-style: none;

      li {
        display: inline-block;
        margin-right: 0.2rem;
      
       

        a {
          text-decoration: none;
          color: #fff;
          text-align: left;
          margin-right: 1rem;
        }
      }
    }
  }


  
  &_info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    margin-bottom: -1rem;

    @media screen and (max-width: 800px){
      display: block;

      .footer_contact {
        // margin-top: 40px;
      }

    } 
  }

 
}
.custom-footer, .footer_link {
  background-color: #222;
  color: #fff;
  text-decoration: none !important;
}

.footer_link {
  &:hover {
    color: #fff;
  }
}